@import '../../styles.less';

.card {
  background-color: @light-gray;
  padding: 10px 0;

  @media (min-width: @medium-screen) {
    padding: 20px 10px;
    border-radius: 3px;
  }
}

.game-board {
  border: 1px solid @dark-gray;
  max-width: 510px;
  max-height: 510px;
  margin: 0 10px;
  position: relative;
  z-index: 1;

  @media (min-width: @small-screen) {
    max-width: 520px;
    max-height: 520px;
  }
}