@import "../../styles.less";

.tile {
  background-color: transparent;
  border: 1px solid @dark-gray;
  width: 10%;
  height: 10%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: @small-font;
  font-weight: bold;
  color: @dark-gray;

  &:hover&:not(.hit)&:not(.miss) {
    background-color: @light-blue;
    color: white;
  }

  @media (min-width: @medium-screen) {
    font-size: @medium-font;
  }

  &.hit {
    background-color: @red;
    color: white;
    cursor: default;
  }

  &.miss {
    background-color: @dark-blue;
    color: white;
    cursor: default;
  }
}