@import './styles.less';

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  @media(min-width: @medium-screen) {
    padding: 30px 0;
  }

  .title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0 0 0;
    color: @light-gray;
  }
}
.standard-font {
  color: gray;
  font-size: 50px;
}

// Variables

// Colors
@dark-gray: #333333;
@light-gray: #eeeeee;
@gray: #dddddd;

@red: #ee436e;

@dark-blue: #003366;
@light-blue: #8fb7d3;

@green: #459673;

// Font Family
@roboto: 'Roboto', sans-serif;

// Font Size
@small-font: 7px;
@medium-font: 14px;
@large-font: 17px;

// Media Queries
@small-screen: 375px;
@medium-screen: 500px;

// Global {
body {
  background-color: #171e27;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}