@import '../../styles.less';

.message {
  margin: 20px 0;
  font-size: 16px;
  font-family: @roboto;
  text-transform: uppercase;
  color: @gray;

  &.hit {
    color: @red;
  }

  &.miss {
    color: @light-blue;
  }
}