@import "../../styles.less";

.score-board {
  padding: 0 15px;

  @media (min-width: @medium-screen) {
    width: 100%;
    max-width: 550px;
  }

  .stats-container {
    margin: 15px 0;

    @media (min-width: @medium-screen) {
      margin: 30px 0;
    }
  }

  .list-title .list {
    display: inline-block;
  }

  .list-title {
    color: @light-gray;
    font-family: @roboto;
    text-transform: capitalize;
    margin: 0;
  }

  .ship {
    color: @green;
  }

  .sunk-ship {
    color: @red;
    text-decoration: line-through;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
      padding-right: 30px;

      @media (min-width: @medium-screen) {
        padding-right: 40px;
      }
    }
  }

  p {
    color: @gray;
    font-family: @roboto;
    text-transform: capitalize;
    margin: 15px 0;

    @media (min-width: @medium-screen) {
      margin: 10px 0;
      font-size: @large-font;
    }
  }
}